/*.log
/backend/*.log
/backend/src/main/resources/static/inline.bundle.js.map
/backend/src/main/resources/static/main.bundle.js
/backend/src/main/resources/static/main.bundle.js.map
/backend/src/main/resources/static/glyphicons-halflings-regular.448c34a56d699c29117a.woff2
/backend/src/main/resources/static/glyphicons-halflings-regular.89889688147bd7575d63.svg
/backend/src/main/resources/static/glyphicons-halflings-regular.e18bbf611f2a2e43afc0.ttf
/backend/src/main/resources/static/glyphicons-halflings-regular.f4769f9bdb7466be6508.eot
/backend/src/main/resources/static/glyphicons-halflings-regular.fa2772327f55d8198301.woff
/backend/src/main/resources/static/scripts.bundle.js
/backend/src/main/resources/static/scripts.bundle.js.map
/backend/src/main/resources/static/styles.bundle.js
/backend/src/main/resources/static/styles.bundle.js.map
/backend/src/main/resources/static/3rdpartylicenses.txt
/backend/src/main/resources/static/inline.6fac413ec937db2ac961.bundle.js
/backend/src/main/resources/static/main.16fb9e7f734a8e9a7e55.bundle.js
/backend/src/main/resources/static/polyfills.8eba0ab53b5457105d75.bundle.js
/backend/src/main/resources/static/scripts.391fa0b4b85640aa1d76.bundle.js
/backend/src/main/resources/static/styles.8bc8918b73a116b34027.bundle.css
/backend/src/main/resources/static/vendor.9aceed36e74dc44df5a2.bundle.js
/backend/src/main/resources/static/inline.bundle.js
/backend/src/main/resources/static/polyfills.bundle.js
/backend/src/main/resources/static/polyfills.bundle.js.map
/backend/src/main/resources/static/vendor.bundle.js
/backend/src/main/resources/static/vendor.bundle.js.map
*.html
/backend/.gradle
/backend/gradle
/backend/src/main/resources/static
