<div class="alert alert-success" *ngIf="successInfo">
  La password e' stata aggiornata con successo
</div>
<div class="alert alert-danger" *ngIf="error">
  {{error}}
</div>
<form #changePasswordForm="ngForm" (submit)="changePassword()">
  <div class="form-group">
    <label>Vecchia password: </label><input class="form-control" name="oldPassword" type="password" [(ngModel)]="oldPassword" required/>
  </div>
  <div class="form-group">
    <label>Nuova password: </label><input class="form-control" name="newPassword" type="password" [(ngModel)]="newPassword" required/>
  </div>
  <div class="form-group">
    <label>Ripeti nuova password: </label><input class="form-control" name="repeatPassword" type="password" [(ngModel)]="repeatNewPassword" required/>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!changePasswordForm.form.valid">Cambia password</button>
  <button type="reset" class="btn btn-default">Reset</button>
</form>
<br/>
<app-back-button></app-back-button>
