<div class="col-md-12 panel panel-default">
  <div class="col-md-12">
    <h3>Gara</h3>
  </div>
  <div class="col-md-12">
    <div class="col-md-1"><b>Anno</b></div>
    <div class="col-md-4">{{gara.annoSocietario}}</div>
  </div>
  <div class="col-md-12">
    <div class="col-md-1"><b>Nome</b></div>
    <div class="col-md-10">{{gara.nome}}</div>
  </div>
</div>
<div class="col-md-12" *ngIf="modifica">
  <div class="col-md-12">
    <app-table-classifica [(gruppo)]="gara.gruppoA1" [canModify]="modifica"
                          [descrizione]="'gruppo A'"></app-table-classifica>
  </div>
  <div class="col-md-12" *ngIf="gara.gruppoA2 && gara.gruppoA2.length > 0">
    <app-table-classifica [(gruppo)]="gara.gruppoA2" [canModify]="modifica"
                          [descrizione]="'gruppo B2'"></app-table-classifica>
  </div>
  <div class="col-md-12">
    <app-table-classifica [(gruppo)]="gara.gruppoB1" [canModify]="modifica"
                          [descrizione]="'gruppo B'"></app-table-classifica>
  </div>
  <div class="col-md-12" *ngIf="gara.gruppoB2 && gara.gruppoB2.length > 0">
    <app-table-classifica [(gruppo)]="gara.gruppoB2" [canModify]="modifica"
                          [descrizione]="'gruppo B2'"></app-table-classifica>
  </div>
</div>
<div class="col-md-12" *ngIf="!modifica && !isGaraScontri(gara)">
  <app-classifiche-per-divisione-container [classifiche]="classifichePerDivisione"></app-classifiche-per-divisione-container>
</div>
<div class="col-md-12" *ngIf="!modifica && isGaraScontri(gara)">
  <app-classifiche-per-divisione-container [classifiche]="classifichePerGruppi"></app-classifiche-per-divisione-container>
</div>
<div class="col-md-4">
  <button class="btn btn-primary print-hidden" [disabled]="modifica" (click)="toggleModifica()" *appRestrictedRoles="['ROLE_EDIT','ROLE_ADMIN']">
    <span *ngIf="!modifica" >Modifica</span>
    <span *ngIf="modifica">Annulla</span>
  </button>
  <app-back-button ></app-back-button>
</div>
<div class="col-md-4">
</div>
<div class="col-md-4 " *ngIf="modifica">
  <button class="btn btn-success" (click)="salva()">Salva</button>
</div>
