<div *ngFor="let classifica of classifiche">
  <div *ngIf="templatePunti.length == 1">
  <data-table [data]="classifica.arcieri" [headers]="headersClassifica"
  [selectable]="false" [showRowNumber]="true" [itemsPerPage]="50"
  >
  </data-table>
  </div>
  <div *ngIf="templatePunti.length > 1">
  <app-table-classifica [gruppo]="classifica.arcieri"
                        [descrizione]="classifica.divisione.descrizione"
                        [canModify]="false"
                        [templatePunti]="templatePunti"
  ></app-table-classifica>
  </div>
  <br/>
  <div *ngIf="pageBreakOnPrint" class="pageBreak"></div>
</div>
