
<h3>Classifica {{descrizione}}</h3>
<table class="table table-striped">
  <thead>
  <tr>
    <th></th><th>Cognome</th><th>Nome</th><th>Punti</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let arciere of gruppoVal">
    <td><b>{{gruppoVal.indexOf(arciere)+1}}</b></td>
      <td>{{arciere.cognome}}</td>
    <td>{{arciere.nome}}</td>
    <td *ngIf="canModify">
      <div *ngFor="let punti of arciere.punteggi;let idx = index; trackBy: trackByIdx" >
        {{templatePunti[idx]}}
        <input [(ngModel)]="arciere.punteggi[idx].punteggio" (blur)="propagate(arciere)" size="4"/>
    </div>
    </td>
    <td *ngIf="!canModify">
      <span *ngFor="let punti of arciere.punteggi;let idx = index;">
        {{arciere.punteggi[idx].punteggio + ' '}}
      </span>
    </td>
  </tr>
  </tbody>
</table>
